<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="../../css/chocolate.css">
    <link rel="icon" type="image/webp" href="../../images/choclogo.webp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img src="../../images/choclogo.webp" class="logo">
<div class="items">
    <% content.forEach((contentItem, index) => { %>
        <div class="item"
             style="background-color: <%= index === 0 || index === 3 ? '#ffebe3' : index === 1 ? '#fab89d' : '#d1c8e1' %>">
            <% if(contentItem && contentItem.mimetype) { %>
                <% if(contentItem.mimetype.startsWith("image/")) { %>
                    <img src="<%= contentItem.uri %>"/>
                <% } else if(contentItem.mimetype === 'video/youtube') { %>
                    <iframe src="https://www.youtube.com/embed/<%= contentItem.uri %>">
                    </iframe>
                <% } else if(contentItem.mimetype.startsWith("video/")) { %>
                    <video src="<%= contentItem.uri %>" controls></video>
                <% } else if(contentItem.mimetype.startsWith("audio/")) { %>
                    <audio src="<%= contentItem.uri %>" controls></audio>
                <% } else if(contentItem.mimetype === 'text/plain') { %>
                    <form action="updateMessage" method="post" class="messageEdit">
                        <textarea name="content" rows="10"><%= contentItem.uri %></textarea>
                        <input type="hidden" name="item" value="<%= index %>">
                        <div style="display: flex;">
                            <input type="submit" value="Save Message">
                        </div>
                    </form>
                <% } else if(contentItem.mimetype === 'text/x-uri') { %>
                    <% if(contentItem.uri) { %>
                        <a href="<%= contentItem.uri %>" target="_blank" class="link">
                            <% if(contentItem.image) { %>
                                <div><img src="<%= contentItem.image %>"></div>
                            <% } %>
                            <% if(contentItem.provider) { %>
                                <div class="linkProvider"><%= contentItem.provider %></div>
                            <% } %>
                            <div class="linkTitle"><%= contentItem.title || contentItem.uri %></div>
                            <% if(contentItem.description) { %>
                                <div class="linkDescription"><%= contentItem.description %></div>
                            <% } %>
                        </a>
                    <% } else { %>
                        <form action="editLink" method="post">
                            <input id="linkput" type="url" name="link" placeholder="URL" value="<% contentItem.uri %>">
                            <input type="hidden" name="item" value="<%= index %>">
                            <input type="submit" value="Link Content">
                        </form>
                    <% } %>
                <% } %>
                <form action="deleteItem" method="post">
                    <input type="hidden" name="item" value="<%= index %>">
                    <input type="submit" value="Delete Item">
                </form>
            <% } else { %>
                <form action="addMessage" method="post">
                    <input type="submit" value="Add Message"/>
                    <input type="hidden" name="item" value="<%= index %>">
                </form>
                <form action="addLink" method="post">
                    <input type="submit" value="Add Link"/>
                    <input type="hidden" name="item" value="<%= index %>">
                </form>
                <button onclick="document.getElementById('uploadInput<%= index %>').click()">Upload Content</button>
                <form action="addFile" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="item" value="<%= index %>">
                    <input id="uploadInput<%= index %>" type="file" name="file" accept="image/*, video/*, audio/*"
                           style="display: none">
                </form>
                <div id="uploadError" class="error" style="padding: 4px 64px"></div>
            <% } %>
        </div>
    <% }); %>
    <div style="display: flex; flex: 1 1 300px">
        <img src="../../images/uon.svg" style="width: 150px; align-self: center; padding-top: 12px"/>
        <!--<div style="font-size: smaller; padding-left: 12px; padding-top: 12px">Developed by the University of Nottingham. To help our research,
            please consider taking this short questionnaire.
        </div>-->
        <a href="../../faq.html" style="padding: 16px">FAQs</a>
    </div>
    <a href="." target="_blank" style="flex: 1 1 300px; padding: 24px; text-align: end">Preview</a>
</div>
<script defer>
	const maxFileSize = 10000000;

	function humanFileSize(bytes, si = true, dp = 1) {
		const thresh = si ? 1000 : 1024;
		if (Math.abs(bytes) < thresh) {
			return bytes + ' B';
		}

		const units = si ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'] : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
		let u = -1;
		const r = 10 ** dp;

		do {
			bytes /= thresh;
			++u;
		} while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1);

		return bytes.toFixed(dp) + ' ' + units[u];
	}

	document.querySelectorAll("input[type=file]").forEach((input) => {
		console.log(input);
		input.addEventListener('change', (event) => {
			const size = event.target.files[0].size;
			console.log(event.target.files[0].size);
			if (size < maxFileSize) {
				event.target.form.submit();
			} else {
				document.getElementById('uploadError').innerText = 'This server only allows uploads up to ' + humanFileSize(maxFileSize) + '. ' + event.target.files[0].name + ' is ' + humanFileSize(size) + '. If you are unable to make it any smaller, you can upload the file elsewhere and link to it.';
			}
		})
	});
</script>
</body>
</html>