<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="../../css/chocolate.css">
    <script src="../../js/addContent.js" defer></script>
    <link rel="icon" type="image/webp" href="../../images/choclogo.webp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img src="../../images/choclogo.webp" class="logo">
<div class="items">
    <% content.forEach((contentItem, index) => { %>
        <div class="item"
             style="background-color: <%= index === 0 || index === 3 ? '#ffebe3' : index === 1 ? '#fab89d' : '#d1c8e1' %>">
            <% if(contentItem && contentItem.mimetype) { %>
                <% if(contentItem.mimetype.startsWith("image/")) { %>
                    <img src="<%= contentItem.uri %>"/>
                <% } else if(contentItem.mimetype === 'video/youtube') { %>
                    <iframe src="https://www.youtube.com/embed/<%= contentItem.uri %>">
                    </iframe>
                <% } else if(contentItem.mimetype.startsWith("video/")) { %>
                    <video src="<%= contentItem.uri %>" controls></video>
                <% } else if(contentItem.mimetype.startsWith("audio/")) { %>
                    <audio src="<%= contentItem.uri %>" controls></audio>
                <% } else if(contentItem.mimetype === 'text/plain') { %>
                    <form action="updateMessage" method="post">
                        <textarea name="content" rows="10"><%= contentItem.uri %></textarea>
                        <input type="hidden" name="item" value="<%= index %>">
                        <input type="submit" value="Save Message">
                    </form>
                <% } else if(contentItem.mimetype === 'text/x-uri') { %>
                    <% if(contentItem.uri) { %>
                        <a href="<%= contentItem.uri %>" target="_blank" class="link">
                            <% if(contentItem.image) { %>
                                <div><img src="<%= contentItem.image %>"></div>
                            <% } %>
                            <% if(contentItem.provider) { %>
                                <div class="linkProvider"><%= contentItem.provider %></div>
                            <% } %>
                            <div class="linkTitle"><%= contentItem.title || contentItem.uri %></div>
                            <% if(contentItem.description) { %>
                                <div class="linkDescription"><%= contentItem.description %></div>
                            <% } %>
                        </a>
                    <% } else { %>
                        <form action="editLink" method="post">
                            <input id="linkput" type="url" name="link" placeholder="URL" value="<% contentItem.uri %>">
                            <input type="hidden" name="item" value="<%= index %>">
                            <input type="submit" value="Link Content">
                        </form>
                    <% } %>
                <% } %>
                <form action="deleteItem" method="post">
                    <input type="hidden" name="item" value="<%= index %>">
                    <input type="submit" value="Delete Item">
                </form>
            <% } else { %>
                <form action="addMessage" method="post">
                    <input type="submit" value="Add Message"/>
                    <input type="hidden" name="item" value="<%= index %>">
                </form>
                <form action="addLink" method="post">
                    <input type="submit" value="Add Link"/>
                    <input type="hidden" name="item" value="<%= index %>">
                </form>
                <button onclick="document.getElementById('uploadInput<%= index %>').click()">Upload Content</button>
                <form action="addFile" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="item" value="<%= index %>">
                    <input id="uploadInput<%= index %>" type="file" name="file" accept="image/*, video/*, audio/*"
                           style="display: none">
                </form>
            <% } %>
        </div>
    <% }); %>
</div>
<a href="." target="_blank">Preview</a>
</body>
</html>