<!DOCTYPE html>
<html lang="en">
<head>
    <title>Studio Chocolate Hybrid Gift</title>
    <link rel="stylesheet" href="<%= prefix %>../css/chocolate.css">
    <link rel="icon" type="image/webp" href="<%= prefix %>../images/choclogo.webp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img src="<%= prefix %>../images/choclogo.webp" class="logo" alt="Studio Chocolate Logo">
<div style="max-width: 500px">
    What is a hybrid gift, you say? Have a look at the one made just for you! It’s like a digital gift card – you
    probably want to open the box while you look, or listen, or both.
</div>
<div class="items">
    <% content.forEach((contentItem, index) => { %>
        <div class="item"
             style="background-color: <%= index === 0 || index === 3 ? '#ffebe3' : index === 1 ? '#fab89d' : '#d1c8e1' %>">
            <% if(contentItem && contentItem.mimetype) { %>
                <% if(contentItem.mimetype.startsWith("image/")) { %>
                    <img src="<%= contentItem.uri %>"/>
                <% } else if(contentItem.mimetype === 'video/youtube') { %>
                    <iframe src="https://www.youtube.com/embed/<%= contentItem.uri %>">
                    </iframe>
                <% } else if(contentItem.mimetype.startsWith("video/")) { %>
                    <video src="<%= contentItem.uri %>" controls></video>
                <% } else if(contentItem.mimetype.startsWith("audio/")) { %>
                    <audio src="<%= contentItem.uri %>" controls></audio>
                <% } else if(contentItem.mimetype === 'text/plain') { %>
                    <div class="message"><%= contentItem.uri %></div>
                <% } else if(contentItem.mimetype === 'text/x-uri') { %>
                    <div style="padding-bottom: 32px">
                        <a href="<%= contentItem.uri %>" target="_blank" class="link">
                            <% if(contentItem.image) { %>
                                <div><img src="<%= contentItem.image %>"></div>
                            <% } %>
                            <% if(contentItem.provider) { %>
                                <div class="linkProvider"><%= contentItem.provider %></div>
                            <% } %>
                            <div class="linkTitle"><%= contentItem.title || contentItem.uri %></div>
                            <% if(contentItem.description) { %>
                                <div class="linkDescription"><%= contentItem.description %></div>
                            <% } %>
                        </a>
                    </div>
                <% } %>
            <% } %>
        </div>
    <% }); %>
    <div style="padding: 16px 0">
        We would love to hear your feedback! Please click to <a
                href="https://nottingham.onlinesurveys.ac.uk/studio-gift">send us your thoughts</a> anonymously or
        submit your email to do a quick phone interview with a University of Nottingham researcher. You’ll receive
        <strong>£10
            off your next Studio Chocolate order by 30 June 2021</strong> in exchange for your time being interviewed.
    </div>

    <div style="display: flex; align-items: center; width: 100%">
        <img src="<%= prefix %>../images/uon.svg" style="width: 150px"/>
        <a href="<%= prefix %>../faq.html" style="padding: 16px; font-size: smaller">FAQs</a>
        <% if(preview) { %>
            <a href="edit" style="flex: 1 1 300px; padding: 24px; text-align: end">Return to Hybrid Gift Maker</a>
        <% } %>
    </div>
</div>
</body>
</html>