<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="<%= prefix %>../css/chocolate.css">

    <link rel="icon" type="image/webp" href="<%= prefix %>../images/choclogo.webp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img src="<%= prefix %>../images/choclogo.webp" class="logo">
<div class="items">
    <% content.forEach((contentItem, index) => { %>
        <div class="item"
             style="background-color: <%= index === 0 || index === 3 ? '#ffebe3' : index === 1 ? '#fab89d' : '#d1c8e1' %>">
            <% if(contentItem && contentItem.mimetype) { %>
                <% if(contentItem.mimetype.startsWith("image/")) { %>
                    <img src="<%= contentItem.uri %>"/>
                <% } else if(contentItem.mimetype === 'video/youtube') { %>
                    <iframe src="https://www.youtube.com/embed/<%= contentItem.uri %>">
                    </iframe>
                <% } else if(contentItem.mimetype.startsWith("video/")) { %>
                    <video src="<%= contentItem.uri %>" controls></video>
                <% } else if(contentItem.mimetype.startsWith("audio/")) { %>
                    <audio src="<%= contentItem.uri %>" controls></audio>
                <% } else if(contentItem.mimetype === 'text/plain') { %>
                    <div class="message"><%= contentItem.uri %></div>
                <% } else if(contentItem.mimetype === 'text/x-uri') { %>
                    <div style="padding-bottom: 32px">
                        <a href="<%= contentItem.uri %>" target="_blank" class="link">
                            <% if(contentItem.image) { %>
                                <div><img src="<%= contentItem.image %>"></div>
                            <% } %>
                            <% if(contentItem.provider) { %>
                                <div class="linkProvider"><%= contentItem.provider %></div>
                            <% } %>
                            <div class="linkTitle"><%= contentItem.title || contentItem.uri %></div>
                            <% if(contentItem.description) { %>
                                <div class="linkDescription"><%= contentItem.description %></div>
                            <% } %>
                        </a>
                    </div>
                <% } %>
            <% } %>
        </div>
    <% }); %>
    <div style="display: flex; flex: 1 1 300px">
        <img src="<%= prefix %>../images/uon.svg" style="width: 150px; align-self: center; padding-top: 12px"/>
        <a href="<%= prefix %>../faq.html" style="padding: 16px; align-self: center">FAQs</a>
        <!--<div style="font-size: smaller; padding-left: 12px; padding-top: 12px">Developed by the University of Nottingham. To help our research,
            please consider taking this short questionnaire.
        </div>-->
    </div>
</div>
</body>
</html>